.u-section-1 .u-sheet-1 {
  min-height: 354px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 639px;
}

.u-section-2 .u-image-1 {
  width: 281px;
  height: 371px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 46px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 46px auto 0 400px;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 9px auto 60px 333px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 289px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 233px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 166px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 123px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 111px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 71px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 50px;
  }
}