.u-section-1 .u-sheet-1 {
  min-height: 354px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 77px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    font-family: Roboto, sans-serif;
  }

  .u-section-1 .u-text-3 {
    font-family: Roboto, sans-serif;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 {
  background-image: url("images/AxaryLauncherWallpaper.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 654px;
}

.u-section-2 .u-image-1 {
  width: 256px;
  height: 256px;
  animation-duration: 1000ms;
  margin: 161px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 539px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 413px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 310px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 195px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 552px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  grid-template-rows: repeat(1, auto);
  margin: 50px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-3 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 103px;
  width: 155px;
  margin: 11px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 42px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-3 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 103px;
  width: 155px;
  margin: 11px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 42px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-3 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 103px;
  width: 155px;
  margin: 11px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 42px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}