.u-section-1 .u-sheet-1 {
  min-height: 354px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  animation-duration: 1000ms;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 553px;
}

.u-section-2 .u-text-1 {
  width: 519px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 265px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 29px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 265px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  animation-duration: 1000ms;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 219px;
  }

  .u-section-2 .u-text-2 {
    color: rgb(241, 133, 14) !important;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 553px;
}

.u-section-3 .u-text-1 {
  width: 519px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 255px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 29px;
}

.u-section-3 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 321px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-3 .u-text-2 {
    color: rgb(241, 133, 14) !important;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 553px;
}

.u-section-4 .u-text-1 {
  width: 519px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 255px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 29px;
}

.u-section-4 .u-text-2 {
  animation-duration: 1000ms;
  margin: 0 auto 0 1px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 321px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-4 .u-text-2 {
    color: rgb(241, 133, 14) !important;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 553px;
}

.u-section-5 .u-text-1 {
  width: 519px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  animation-duration: 1000ms;
  margin: 12px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-5 .u-image-1 {
  width: 158px;
  height: 158px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-text-6 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-5 .u-image-2 {
  width: 158px;
  height: 158px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-text-8 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-5 .u-image-3 {
  width: 158px;
  height: 158px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-text-10 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-5 .u-image-4 {
  width: 158px;
  height: 158px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1165px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1771px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1209px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 318px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: -82px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-6 .u-image-1 {
  width: 158px;
  height: 158px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1165px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 506px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1771px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 759px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 759px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1209px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 128px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 478px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 478px;
  }
}